:root{
   --silver:#C0C0C0;
   --tree:#007256;
   --sea:#00477e;
   --coffee:#2e271a;
   --orange:#ce3500;
   --lemon:#e3b202;
   --apple:#a6001a;

   --SideBarBg:#373a42;
   --highLight:#a2a7ad;

   /*spms*/
   --orangeYellow:#f8a300;
   --insigniaRed1:#901E1D;
   --insigniaRed2:#901E1D;
   --bgSPMS:#f9f0f7;

   /*pis*/
   --armyBlue1:#005799;
   --armyBlue2:var(--sea);
   --bgPIS:#cce9ff;

   /*rms*/
   --rmsFavGreen1:#002d30;
   --rmsFavGreen2:#002d30;
   --bgRMS:#e0ebeb;

   /*ams*/
   --aircraftBlue1:#0074cc;
   --aircraftBlue2:#0065b1;
   --bgAMS:#b3deff;

   --bgGray1:#ffffff;
   --bgGray2:#f2f2f2;
   --bgGray3:#cccace;
   --bgGray4:#bfbdc2;

   --bgTree2:var(--tree);
   --bgTree1:#009973;
   /*          #008060*/

   --bgSea2:var(--sea);
   --bgSea1:#0065b3;

   --bgIntroBlack1:#1c1d22;
   --bgIntroBlack2:#2e3038;

   --MainColor1:var(--armyBlue1);
   --MainColor2:var(--armyBlue2);
   --MainBG    :var(--bgPIS);

   --fontSize:10pt;
   --fontFamily:Tahoma,Segoe UI,Helvtica,Arial,Verdana;

   --btn-radius:           7px;
   --panel-radius:         5px;
   --panel-border:         1px;
   --panel-borderColor:    gray; 
   --btn-sea-color2:       var(--sea);
   --btn-sea-color1:       #00477e;


   --btn-red-color2:       var(--apple);
   --btn-red-color1:       #ff0026;

   --btn-lemon-color2:     var(--lemon);
   --btn-lemon-color1:     #fdd74e;

   --btn-def-color:        #e0e5eb;
   --btn-tree-color:       var(--tree);
   --btn-orange-color:     #ce3500;

   --btn-choco-color:      #4c4a3c;

   --theme-panel-radius:   0px;
   --theme-panel-bg:       #fefefe;
   --theme-readonly-bg:    #dbdbdb;
   --theme-panel-top-bg2:  var(--MainColor2);
   --theme-panel-top-bg1:  var(--MainColor1);

   --theme-font:           #fff;
   --theme-bg:             var(--theme-panel-top-bg2);
   /*#122b3e; */
   --theme-bg-light:       var(--theme-panel-top-bg1); /*Hover*/
   /*#17374f;*/

   --LiteBG:#f5f5f5;
   --DarkBG:#363848;

   --theme-border-radius:  0px;
   --theme-border-color:   #e6e6e6;
   --theme-tblbg:          #a2a7ad;
   --theme-tblrowodd:      #d9d9d9;
   --theme-tblroweven:     #e6e6e6;
   --theme-tblbordercolor: #47484a;
   --grid_padding_td:      2px;

   --border:#bbb;
   --theme-fontcolor:#222;
   --bgHover1:#393b46;
}

body {
   /*background:var(--MainBG);*/
   background:#ffffff;
   color:var(--theme-fontcolor);
   font-size:var(--fontSize);
   font-family:var(--fontFamily);
   margin:0;
   padding:0;
}

.spmsBody {
   background:#fff;
   color:var(--insigniaRed);
}

.full-height {
   height: 100vh;
}

.flex-center {
   align-items: center;
   display: flex;
   justify-content: center;
}

.parentBadge-sea {border-radius:0px;padding:8px;padding-bottom:12px;background:var(--sea);color:white;font-size:var(--fontSize);font-weight:500;margin-right:5px;}
.childBadge-sea {padding:5px;padding-left:10px;padding-right:10px;background:white;color:var(--sea);font-size:var(--fontSize);font-weight:600;margin-left:5px;}

.parentBadge-tree {border-radius:0px;padding:8px;padding-bottom:12px;background:var(--tree);color:white;font-size:var(--fontSize);font-weight:500;margin-right:5px;}
.childBadge-tree {padding:5px;padding-left:10px;padding-right:10px;background:white;color:var(--tree);font-size:var(--fontSize);font-weight:600;margin-left:5px;}

.parentBadge-silver {border-radius:0px;padding:8px;padding-bottom:12px;background:var(--silver);color:#666;font-size:var(--fontSize);font-weight:600;margin-right:5px;}
.childBadge-silver {padding:5px;padding-left:10px;padding-right:10px;background:white;color:#333;font-size:var(--fontSize);font-weight:600;margin-left:5px;}

.counts-- {
  background:white;
  transition: all .3s ease 0s;
}
.counts--:hover {
  /*-moz-box-shadow:    inset 0 0 5px #333;
  -webkit-box-shadow: inset 0 0 5px #333;
  box-shadow:         inset 0 0 5px #;*/
  background:var(--bgHover1);
  cursor:pointer;
  color:white;
  /*
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);*/
}

.counts--:active {
   background:#000;
   border:2px solid #fff;
}

.sysBG {
   background:var(--MainColor1);
   color:#fff;
}

.menu {
   font-weight:500;
   color:white;
   width:120px;
   text-align:center;
}
.menu:hover {
   background-color:#66ccff;
}
.margin-top10  {margin-top:10px;}
.margin-top20  {margin-top:20px;}
.margin-top30  {margin-top:30px;}
.margin-top40  {margin-top:40px;}
.margin-top50  {margin-top:50px;}
.margin-top    {margin-top:5px;}
.margin10      {margin:10px;}
.margin20      {margin:20px;}
.margin30      {margin:30px;}
.margin0       {margin:0px;}
.padd0         {padding:0px;}
.padd5         {padding:5px;}
.padd10        {padding:10px;}
.padd15        {padding:15px;}
.padd20        {padding:20px;}

.strong        {font-weight:600;}
.border-r      {border:1px solid red;}
.border-g      {border:1px solid green;}
.border-b      {border:1px solid blue;}
.border-y      {border:1px solid yellow;}
.bg1           {background:#a9b7b9;}
.border-round {
   border-radius:5px;
   border:1px solid var(--border);
}

.font8  {font-size:8pt}
.font9  {font-size:9pt}
.font10 {font-size:10pt}
.font11 {font-size:11pt}
.font12 {font-size:12pt}
.font13 {font-size:13pt}
.font14 {font-size:14pt}

.fontB8  {font-weight:600;font-size:8pt}
.fontB9  {font-weight:600;font-size:9pt}
.fontB10 {font-weight:600;font-size:10pt}
.fontB11 {font-weight:600;font-size:11pt}
.fontB12 {font-weight:600;font-size:12pt}
.fontB13 {font-weight:600;font-size:13pt}
.fontB14 {font-weight:600;font-size:14pt}

.loader {
   margin-top:10%;
   background:white;
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

}
.menutxt {
   color : var(--theme-font);
   width : 120px;
   text-align : center;
}

.date-- {
   min-width:100px;
   text-align:center;
}

.number-- {
   min-width:60px;
   text-align:center;
}

.decimal-- {
   text-align:right;
}

.link, a {
   font-size:var(--fontSize);
   font-weight:500;
   text-decoration:underline;
   color:var(--MainColor1);
}

.link:hover, a:hover {
   text-decoration:none;
   color:blue;
}

.li-menu {
   background-color: transparent;
}
.li-menu:hover {
   background-color: transparent;
}

.reminder:hover {
   text-decoration:none;
}

.page-header {
   background-color: var(--theme-bg);
}
.page-footer {
   background-color: var(--theme-bg);
   padding: 10px;
   color: var(--theme-font);
   box-shadow: 0px 0px 10px #888
}



.innerShadow {
   -moz-box-shadow:    inset 0 0 10px var(--border);
   -webkit-box-shadow: inset 0 0 10px var(--border);
   box-shadow:         inset 0 0 10px var(--border);
}

.innerRedShadow {
   -moz-box-shadow:    inset 0 0 5px red;
   -webkit-box-shadow: inset 0 0 5px red;
   box-shadow:         inset 0 0 5px red;
   border: 1px solid red;
}

.txtPress {
   color:#17364f;
   text-shadow:0px 2px 3px var(--theme-panel-top-bg1);
   font-weight:600;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.cellRefId {
   text-align:center;
   color:#000;
   width:50px;
   font-weight:600;
   /*background:var(--DarkBG);*/
   padding:0px;
}
.cellAction {
   width:100px;
   text-align:center;
   padding:0px;
}
.cellGrid {
   padding:0px;
}
.gridTable_th {
   text-align:center;
   color:#fff;
   font-weight:600;
   background:var(--DarkBG);
}
.divRefid {
   border-radius:5px;
   padding:5px;
   background:var(--theme-bg);
   border:1px solid #a2a7ad;
   background-color:#fff;
   color:#000;
   font-size:var(--fontSize);
}
.obj-left {float:left;}
.obj-right {float:right;}


.form-input {
   padding:4px;
   width:100%;
   background-color:#ffffff;
   border:1px solid black;
   color:#000;
   font-weight:600;
   font-size:var(--fontSize);
}

.form-disp {
   padding:4px;
   width:100%;
   background-color:#fafafa;
   border:1px solid black;
   color:#222;
   font-size:var(--fontSize);
   cursor:not-allowed;
}

div.dataTables_filter input {
   border-radius:3px;
   padding:2px;
   padding-left:5px;
   width:50%;
   border:1px solid #a2a7ad;
   background-color:#fff;
   color:#000;
   font-size:var(--fontSize);
}

div.dataTables_length label {
   width:250px;
   text-align:left;
}

div.dataTables_length select {
   border-radius:3px;
   padding:2px;
   padding-left:5px;
   width:20%;
   border:1px solid #a2a7ad;
   background-color:#fff;
   color:#000;
   font-size:var(--fontSize);
}

.form-input-viewonly{
   border-radius:3px;
   padding:2px;
   padding-left:5px;
   width:90%;
   border:1px solid #a2a7ad;
   background-color:var(--theme-readonly-bg);
   color:#000;
   font-weight:600;
}

input.form-input-viewonly:-moz-read-only {
   background-color:var(--theme-readonly-bg);
   color:#000;
}

input.form-input-viewonly:read-only {
   background-color:var(--theme-readonly-bg);
   color:#000;
}

input.form-input:-moz-read-only {
   background-color:var(--theme-readonly-bg);
   color:#444;
}
input.form-input:read-only {
   background-color:var(--theme-readonly-bg);
   color:#444;
}
input.date--:read-only {
   background-color:var(--theme-readonly-bg);
   color:#000;
}

input.form-input-rad,
input.form-input-chk {
   margin-left:20px;
   width:20px;
}

.label, label {
   font-weight:600;
   font-size:var(--fontSize);
   text-align:right;
   color:var(--MainColor2);
}

.form-input:focus {
   /*border:1px solid var(--theme-bg);*/
   border:1px solid #122b3e;
   color:#fff;
   font-weight:600;
   background:var(--bgHover1);
}

.table {
   background:#f6f6f6;
   border:1px solid silver;
}
.table th {
   font-weight:600;
   text-align:center;
   background:var(--MainColor1);
   color:white;

}
.table td {
   border : 1px solid silver;
}
.table th {
   border : 1px solid silver;
}



.mytable {
   width:100%;
   background:var(--theme-tblbg);
   border-collapse: collapse;
   border-spacing: 1px 1px;
   font-family:var(--fontfam-scr);
}

th.table-hdr {
   padding:3px;
   text-align:center;
   background:var(--theme-tblbordercolor);
   color:white;
   font-family:var(--fontfam-scr);
   font-size:10pt;
   border:1px solid #000;
}
tr.table-dtl {
   font-size: 10pt;
   color:#222;
}
tr.table-dtl:hover {
   background:var(--MainColor1);
   color:#fff;
   cursor:pointer
}
td.dataStyle {
   padding:2px;
   border:1px solid #222;
}

tr.table-dtl:nth-child(even) {background: var(--theme-tblroweven);}
tr.table-dtl:nth-child(odd)  {background: var(--theme-tblrowodd);}
tr.table-dtl:first-child     {background: var(--theme-tblbg);}


.table-ftr > td {
   padding:3px;
}

.table-ftr {
   padding:2px;
   text-align:center;
   background:var(--theme-tblbordercolor);
   color:white;
   font-family:var(--fontfam-scr);
   font-size:12px;
   font-weight:600;
   border:1px solid var(--theme-tblbordercolor);
}

.txt-left   {text-align:left;}
.txt-center {text-align:center;}
.txt-right  {text-align:right;}
.float-r    {float:right;}
.float-l    {float:left;}
.shadow     {box-shadow:0px 0px 10px #333;}
.border     {border:1px solid silver;}
.border0    {border:0px solid transparent;}
.border1    {border:1px solid var(--border);}
.border2    {border:2px solid var(--theme-bg);}

.trans {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.title-trans-bottom {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding:10px;
  position:absolute;
  bottom:0px;
  left:0px;
  color:#fff;
  background-color:#000;
}

.hide {
   display:none;
}

.UserAlso-- {
   display:none;
}

.date-- {
   max-width:100px;
   min-width:90px;
}
.time-- {
   max-width:120px;
   min-width:80px;
}

.Employees-- {
   font-weight: 500;
   color:#000;
   transition: all .6s ease 0s;
}

.Employees--:nth-child(odd) {
   background: #e6e6e6;
}

.Employees--:nth-child(even) {
   background: #cccccc;
}
.Employees--:hover {
   cursor: pointer;
   background-color: var(--MainColor2);
   color: white;
}

.title-trans-top {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding:10px;
  position:absolute;
  top:0px;
  left:0px;
  color:#fff;
  background-color:#000;
}

.titlebar {
   background-color:var(--theme-bg);
   color:var(--theme-font);
   padding:5px;
   font-weight:600;
}

.setbg {
   background-color:var(--theme-bg);
   color:var(--theme-font);
   font-weight:600;
}

.bgTab {
   background: var(--theme-panel-top-bg1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* Standard syntax */
   color:#fff;
   border-bottom:5px solid var(--theme-panel-top-bg2);
   margin-right:1px;
   transition: all 0.5s ease 0s;
}

.bgTab:hover {
   background: var(--theme-panel-top-bg1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* Standard syntax */
   color:#fff;
   border-bottom:5px solid #1c1d22;
}


#div_CONTENT {
 padding:5px;
}

.titlebar-light {
   background-color:var(--theme-readonly-bg);
   color:var(--theme-bg);
   padding:5px;
   font-weight:600;
}
/*----------
   PANEL
------------*/
.panel-normal {
   color:var(--theme-font-dark);
   font-weight:400;
   border:1px dotted #cbcbcb;
}
.mypanel,.panel-default{
   border-radius:0;
   margin:0;
   padding:0;
   border-top-left-radius:var(--panel-radius);
   border-top-right-radius:var(--panel-radius);
   background:white;
}

.panel-default > .panel-heading {
  background-color: var(--theme-bg);
  color:var(--theme-font);
  padding:5px;
  padding-left:10px;
  padding-bottom:8px;
  font-weight:600;
}
.panel-top {
   background: var(--theme-panel-top-bg1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* Standard syntax */
   color:#fff;
   padding:4px;
   padding-left:8px;
   font-weight:900;
   font-size:var(--fontSize);
   border-top:1px solid var(--theme-panel-top-bg1);
   border-left:1px solid var(--theme-panel-top-bg1);
   border-right:1px solid var(--theme-panel-top-bg1);
   border-top-left-radius:var(--panel-radius);
   border-top-right-radius:var(--panel-radius);
}
.panel-mid, .panel-mid-litebg {
   background-color:var(--LiteBG);
   color:var(--theme-bg);
   /*border-bottom:1px solid var(--theme-panel-top-bg1);*/
   border-left:var(--panel-border) solid var(--panel-borderColor);
   border-right:var(--panel-border) solid var(--panel-borderColor);
   /*
   border-bottom:1px solid #d9d9d9;
   border-left:1px solid #d9d9d9;
   border-right:1px solid #d9d9d9;
   */
}
.panel-mid-darkbg {
   background-color:var(--DarkBG);
   color:#ffffff;
   border-bottom:2px solid var(--DarkBG);
   border-left:2px solid var(--DarkBG);
   border-right:2px solid var(--DarkBG);
}

/*overide css bs*/
.panel-body {
  padding: 5px;
}

div[class*='panel-mid'] {
   padding:5px;
   font-weight:400;
   min-height:70px;
}

.panel-bottom, .panel-bottom-litebg {
   background-color:var(--LiteBG);
   color:var(--theme-bg);
   border-bottom:var(--panel-border) solid var(--panel-borderColor);
   border-left:var(--panel-border) solid var(--panel-borderColor);
   border-right:var(--panel-border) solid var(--panel-borderColor);
   
   /*border-left:1px solid var(--theme-panel-top-bg1);
   border-right:1px solid var(--theme-panel-top-bg1);*/

   border-bottom-left-radius:var(--panel-radius);
   border-bottom-right-radius:var(--panel-radius);
}

.panel-bottom-darkbg {
   background-color:var(--DarkBG);
   color:#ffffff;
   border-bottom:2px solid var(--DarkBG);
   border-left:2px solid var(--DarkBG);
   border-right:2px solid var(--DarkBG);
}



div[class*='panel-bottom'] {
   padding:10px;
   font-weight:600;
}

.gridTable_th {
   background-color:#ccd2c9;
   color:#444;
}
.btn-theme4 {
   border-radius:3px;
   border:1px solid var(--theme-bg);
   background-color: var(--theme-bg);
   padding:4px;
   color:var(--theme-bg-light);
}

.btn-theme4:hover {
   border:1px solid var(--theme-bg2);
   background-color: var(--theme-bg2);
}

.alerts {
   width:50%;
   margin:auto;
   margin-top:5px;

}

.alert-warn-top {
   background-color:#ff3333;
   color:#fff;
   padding:10px;
   font-weight:600;
   border-top-right-radius:10px;
   border-top-left-radius:10px;
}
.alert-warn-msg {
   background-color:#ffffff;
   color:#ff3333;
   border:1px solid #ff3333;
   padding:10px;
   border-bottom-right-radius:10px;
   border-bottom-left-radius:10px;
}
.alert-info-top {
   background-color:#007256;
   color:#fff;
   padding:10px;
   font-weight:600;
   border-top-right-radius:10px;
   border-top-left-radius:10px;
}
.alert-info-msg {
   background-color:#e6fff9;
   color:#007256;
   border:1px solid #007256;
   padding:10px;
   border-bottom-right-radius:10px;
   border-bottom-left-radius:10px;
}

.alert-head {
   background-color:#f8a300;
   color:#fff;
   font-family:arial;
   font-size:var(--fontSize);
   font-weight:600;
   padding:10px;
}
.alert-body {
   background-color:#1c1d22;
   color:#fff;
   font-family:Arial;
   font-size:var(--fontSize);
   font-weight:400;
   padding:10px;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3px;
  background-color: var(--theme-bg);
  color:#fff;
  text-align: center;
  font-weight:600;
}

.runDate {
   font-family:Tahoma,Arial;
   font-size:8pt;
   color:gray;
   text-align:left;
}

.btn-cls2-orange {font-size:9pt;background-color:var(--btn-orange-color);padding:2px;}
.btn-cls4-orange {font-size:10pt;background-color:var(--btn-orange-color);padding:5px;}
.btn-cls6-orange {font-size:12pt;background-color:var(--btn-orange-color);padding:6px;}

.btn-cls2-lemon  {font-size:9pt;background-color:var(--btn-lemon-color2);padding:2px;}
.btn-cls4-lemon  {font-size:10pt;background-color:var(--btn-lemon-color2);padding:5px;}
.btn-cls6-lemon  {font-size:12pt;background-color:var(--btn-lemon-color2);padding:6px;}

.btn-cls2-choco  {font-size:9pt;background-color:var(--btn-choco-color);padding:2px;}
.btn-cls4-choco  {font-size:10pt;background-color:var(--btn-choco-color);padding:5px;}
.btn-cls6-choco  {font-size:12pt;background-color:var(--btn-choco-color);padding:6px;}

.btn-cls2-tree   {font-size:9pt;background-color:var(--btn-tree-color);padding:2px;}
.btn-cls4-tree   {font-size:10pt;background-color:var(--btn-tree-color);padding:5px;}
.btn-cls6-tree   {font-size:12pt;background-color:var(--btn-tree-color);padding:6px;}

.btn-cls2-red    {font-size:9pt;background-color:var(--btn-red-color2);padding:2px;}
.btn-cls4-red    {font-size:10pt;background-color:var(--btn-red-color2);padding:5px;}
.btn-cls6-red    {font-size:12pt;background-color:var(--btn-red-color);padding:6px;}

.btn-cls2-sea    {font-size:9pt;background-color:var(--btn-sea-color1);padding:2px;}
.btn-cls4-sea    {font-size:10pt;background-color:var(--btn-sea-color1);padding:5px;}
.btn-cls6-sea    {font-size:12pt;background-color:var(--btn-sea-color1);padding:6px;}

.btn-cls2-def    {font-size:9pt;background-color:var(--btn-def-color);padding:2px;color:#000;}
.btn-cls4-def    {font-size:10pt;background-color:var(--btn-def-color);padding:5px;color:#000;}
.btn-cls6-def    {font-size:12pt;background-color:var(--btn-def-color);padding:6px;color:#000;}


button[class*="btn-cls"] {
   border-radius:var(--btn-radius);
   font-family:var(--fontFamily);
   border:0;
   padding-left:10px;
   padding-right:10px;
   min-width:40px;
   color:#fff;
   font-weight:500;
   transition: all 0.3s ease 0s;
   margin-right:2px;
   text-transform: uppercase;
}

button[class*="btn-cls"]:enabled:hover {
   background: #1c1d22;
   color: #ffbb00;
   border:0px solid #ffbb00;
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

button[class*="btn-cls"]:active {
   background: var(--bgGray1);
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: linear-gradient(var(--bgGray1), var(--bgGray2));
   color:#333;
}

i[aria-hidden="true"] {
   font-size:12pt;
   margin-right:5px;
}

.msidebar {
   font-size:20pt;
}

.form-input:disabled,
.btn-theme4:disabled,
.btn-cls2-choco:disabled,.btn-cls4-choco:disabled,.btn-cls6-choco:disabled,
.btn-cls2-lemon:disabled,.btn-cls4-lemon:disabled,.btn-cls6-lemon:disabled,
.btn-cls2-orange:disabled,.btn-cls4-orange:disabled,.btn-cls6-orange:disabled,
.btn-cls2-def:disabled,.btn-cls4-def:disabled,.btn-cls6-def:disabled,
.btn-cls2-red:disabled,.btn-cls4-red:disabled,.btn-cls6-red:disabled,
.btn-cls2-tree:disabled,.btn-cls4-tree:disabled,.btn-cls6-tree:disabled,
.btn-cls4-sea:disabled,.btn-cls4-sea:disabled,.btn-cls6-sea:disabled {
   background:var(--theme-readonly-bg);
   columns: #777777;
   cursor:not-allowed;
}

/* content */
.CompanyName {font-weight:400;color:var(--theme-fontcolor);font-family:Calibri,Verdana;text-align:center;font-weight:900;}
#closeNav {
   margin-left:5px;
   color:#fff;
}
#div_RSideBar {
   height:100%;
   width:250px;
   position: fixed;
   z-index: 10;
   /*top:80px;*/
   left:0;
   background-color:var(--SideBarBg);
   color:#fff;
   overflow-x: hidden;
   padding-top:5px;
}
#div_amsSideBar {
   height:100%;
   width:250px;
   position: fixed;
   z-index: 10;
   /*top:110px;*/
   left:0;
   background-color:var(--SideBarBg);
   color:#fff;
   overflow-x: hidden;
}
.topMenu {
   padding-top:10px;
   padding-bottom:10px;
   font-weight:600;
   transition: all 0.5s ease 0s;
}
.topMenu:hover {
   cursor:pointer;
   background:var(--bgHover1);
   color:fff;
}

a.mbar {
   color:#eee;
   font-weight:600;
   text-decoration:none;
   margin-right:5px;
}
a.mbar:hover {
   cursor:pointer;
   color:#fff;
   text-decoration:none;
}

#div_RSideBar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
#divView {display:none;}

#mainScreen {
   /*transition: margin-left .5s;*/
   margin-left: 250px;
   background:transparent;
}

.wmlogo {
   background:#ffffff;
   /*background-image:url("../images/PIDSLogoPattern.png");*/
}

.dropdown-toggle {
   font-weight:600;
}
.dropdown-toggle:hover {
   cursor:pointer;
}
.dropdown-menu {
   margin-top:5px;
   margin-left:0px;
   border-radius:0;
   background:#222;
}
.dropdown-menu > li > a {
   padding:7px;
   color:#aaa;
}


.sideMenu {
   border-bottom:1px solid #454754;
   padding:4px;
   margin-bottom:0px;
   font-family:Tahoma;
   font-weight:500;
   color:#dddddd;
   transition: all .3s ease 0s
}
.sideMenu:hover {
   background:var(--bgHover1);
   cursor:pointer;
   color:#ffffff;
   padding-left:7px;
   border-left:3px solid white;
}

.subMenu, .withSubMenu, .tabMenu {
   background:#0b0b0d;
   border-bottom:1px solid #454754;
   padding:4px;
   margin-bottom:0px;
   padding-left:7px;
   color:#fff;
   transition: all .5s ease 0s;

}
.subMenu:hover, .withSubMenu:hover, .tabMenu:hover {
   background:var(--bgHover1);
   cursor:pointer;
   color:#fff;
   padding-left:15px;
   border-left:3px solid white;
}
.childSubMenu {
   font-size:9pt;
   padding:4px;
   padding-left:35px;
   background:#fff;
   color:#222;
   transition: all .3s ease 0s
}
.childSubMenu:hover {
   background:#0b0b0d;
   color:#aaa;
   cursor:pointer;
   padding-left:35px;
}

.InfoMenu {
   border-bottom:1px solid var(--bgGray4);
   padding:4px;
   margin-bottom:0px;
   font-family:Segoe UI,Arial,Tahoma;
   font-weight:500;
   font-size:var(--fontSize);
   color:#111;
   transition: all .3s ease 0s
}
.InfoMenu:hover {
   background:#47484a;
   cursor:pointer;
   color:#ffffff;
   padding-left:15px;
}

.pngIcons{
   width:30px;
   height:30px;
   margin-right:5px;
}

/*bootstrap alter*/
.nav-pills {padding:0px;}
.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
}
div[class*='col-xs'],
div[class*='col-sm'],
div[class*='col-md'],
div[class*='col-lg'] {
  padding-right: 5px;
  padding-left: 5px;
}

#RMS:hover {color:blue;cursor:pointer;}
#PIS:hover {color:blue;cursor:pointer;}

/*Data Tables*/
.dataTables tbody > td {
   padding:0px;
}
.gridRow {
   height: 20px;
   min-height: 20px;
}
.gridRow:hover {
   background-color:var(--border);
}

.mylabel {
   text-transform: uppercase;
   font-weight:600;
   font-size:var(--fontSize);
   vertical-align:bottom;
   text-align:right;
   padding:3px;
}

.elActive {
   background:var(--MainColor1);
   color:#fff;
}

.bgTrans {
   background:transparent;
   border:0px solid transparent;
}

.bgCompSchemeColor {
   background: var(--MainColor1);
   background: -webkit-linear-gradient(var(--bgMainColor1), var(--bgMainColor2));
   background: -o-linear-gradient(var(--bgMainColor1), var(--bgMainColor2));
   background: -moz-linear-gradient(var(--bgMainColor1), var(--bgMainColor2));
   background: linear-gradient(var(--bgMainColor1), var(--bgMainColor2));
   color:#ffffff;
}

.bgSea {
   background: var(--bgSea1);
   background: -webkit-linear-gradient(var(--bgSea1), var(--bgSea2));
   background: -o-linear-gradient(var(--bgSea1), var(--bgSea2));
   background: -moz-linear-gradient(var(--bgSea1), var(--bgSea2));
   background: linear-gradient(var(--bgSea1), var(--bgSea2));
   color:#ffffff;
}

.bgSilver {
   background: var(--bgGray1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray1), var(--bgGray2)); /* Standard syntax */
   color:#222;
}

.bgLightGray {
   background:#fafafa; /* For browsers that do not support gradients */
   color:#222;
}

.bgTree {
   background: var(--bgTree1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgTree1), var(--bgTree2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgTree1), var(--bgTree2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgTree1), var(--bgTree2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgTree1), var(--bgTree2)); /* Standard syntax */
   color:#ffffff;
}

.bgIntroBlack {
   background: var(--bgIntroBlack1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgIntroBlack1), var(--bgIntroBlack2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgIntroBlack1), var(--bgIntroBlack2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgIntroBlack1), var(--bgIntroBlack2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgIntroBlack1), var(--bgIntroBlack2)); /* Standard syntax */
   color:#ffffff;
}



.bgDark {
   background:#262626;
   color     :#cccccc;
}

.bgLite {
   background:var(--LiteBG);
   color:#111;
}
.bgTrans {
   background: transparent;
}
.entry201 {
   padding:5px;
   border:1px solid var(--border);
   margin-top:5px;
   background: var(--bgGray1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray1), var(--bgGray2)); /* Standard syntax */
   color:#333;
}
.entry201:hover {
   border:1px solid #333;
   background: var(--bgGray2); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray2), var(--bgGray3)); /* Standard syntax */
}

.colopt {
   border:1px solid transparent;
   transition: all 1s ease 0s;
}
.colopt:hover {
   border:1px solid #333;
   background: var(--bgGray2); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray2), var(--bgGray3)); /* Standard syntax */
}

.form-label {
   text-align:right;
   font-size:var(--fontSize);
   font-weight:500;
}

.hide { 
  display: none;
}
.show { 
  display: inline-block;
}

/*MODAL CSS*/
.overlay {
    position:fixed;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    text-align:center;
}
.overflow {
   max-height: calc(100vh - 20%);
   overflow: auto;
   border:1px solid #fff;
}
.iframes {
   background:#ffffff;
   width:100%;
   height:97%;
   margin:0;
   padding:5px;
}
div[id*="tab"]{
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
   display:none;
}
.login {
   width:500px;
   margin:auto;
}
.wid10 {width:10%;}
.wid20 {width:20%;}
.wid50 {width:50%;}
.wid30 {width:30%;}
.wid40 {width:40%;}
.wid50 {width:50%;}
.clearflds-- {color:blue;}
/*
.saveFields-- {
   background:green;
}
*/
.fieldValue-- {
   font-size:var(--fontSize);
   background-color: #eff2f5;
   padding:6px;
   border : 1px solid black;
   font-weight:500;
}

.fieldValueHDR--{
   font-size:var(--fontSize);
   background-color: #adbbcc;
   color: #000;
   padding:6px;
   font-weight:600;
   text-align: center;
}


.floatAlert {
   z-index:1000;
   position:relative;
   margin-right:10px;
   float:right;
   bottom:-50px;
   width:300px;
}

tr.tbl_trHdr                 {font-weight:600;font-family: Arial,Verdana;font-size:12px;background-color:var(--theme-panel-top-bg2);text-align:center;color:#fff}
tr.tbl_trBody:nth-child(odd) {font-weight:500;font-family: Arial,Verdana;font-size:12px;background-color:#f2f2f2;color:#111;}
tr.tbl_trBody:nth-child(even){font-weight:500;font-family: Arial,Verdana;font-size:12px;background-color:#cccccc;color:#111;}
tr.tbl_trBody:hover          {background:#7b93a3;color:#fff;}
.tbl_trHdr > td {padding:8px;}
.tbl_trBody > td {padding:4px;}

.img-thumbnail {
   margin-bottom:10px;
}

i[class*="fa-caret"]:hover {
   cursor:pointer;
}

.img-thumbnail:hover {
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.uCase-- {
   text-transform: uppercase;
}

@media (max-width: 1368px) {
   :root{
      --fontSize:10pt;
   }
   body {
      font-size:var(--fontSize);
   }
   .form-input {
      padding:3px;
      width:100%;
      background-color:#ffffff;
      border:1px solid #000;
      color:#000;
      font-size:var(--fontSize);
   }
   .form-disp {
      padding:3px;
      width:100%;
      background-color:#eeeeee;
      border:1px solid #000;
      color:#444;
      font-size:var(--fontSize);
      cursor:not-allowed;
   }
   .label, label {
      font-weight:600;
      font-size:10pt;
      text-align:right;
   }
   .panel-top {
      padding:4px;
      padding-left:6px;
   }
   .margin-top {margin-top:2px;}
}

@media (max-width: 768px) {
   :root{
      --fontSize:10pt;
   }
   body {
      font-size:var(--fontSize);
   }
   .form-input {
      padding:20px;
      font-size:var(--fontSize);
   }
   .form-disp {
      padding:2px;
      font-size:var(--fontSize);
   }
   .label, label {
      font-weight:400;
      font-size:var(--fontSize);
      text-align:right;
   }
   .panel-top {
      padding:3px;
      padding-left:6px;
   }
   .margin-top {margin-top:1px;}
}






